
.stats-card {
    border: 1px solid #dee2e6;
}

.table thead th {
    border-top: none;
    font-size: 0.8rem;
    padding: 15px 10px;
}

.table tbody td {
    padding: 12px 10px;
    border-bottom: 1px solid #f8f9fa;
}

.bg-warning {
    background-color: #ffcc00 !important; 
}

.bg-danger {
    background-color: #e63946 !important; 
}

.x-small {
    font-size: 0.75rem;
}
.navbar .nav-link {
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #ffc107 !important; 
}